In [1]:
# 1 - DATA MANIPULATION
import pandas as pd
import numpy as np

# 2 - DATA VISUALISATION
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# 3 - STATISTICS
from statsmodels.graphics.gofplots import qqplot
from scipy import stats

# 4 - MACHINE LEARNING

from sklearn.linear_model import LinearRegression,SGDRegressor
import itertools

## 4.1 - Preprocessing

### 4.1.1 - Scalers
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor

### 4.1.2 - Encoders
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

### 4.1.3 - Crossvalidation, Training, Model
from sklearn.model_selection import cross_validate, GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression, ElasticNet

### 4.1.4 - Evaluation
from sklearn.metrics import confusion_matrix, r2_score
from sklearn.metrics  import ConfusionMatrixDisplay

In [2]:
df_males = pd.read_csv('../data_csv/data_model_males.csv')
df_females = pd.read_csv('../data_csv/data_model_females.csv')

In [3]:
df_males.head()

,Name,Exercise,Metric,Height,Weight,0,1,2,3,4,...,90,91,92,93,94,95,96,97,98,99
0,Robert,Chest,Chest_Weight,185,80,35.0,35.0,36.0,36.0,36.0,...,78.0,79.0,80.0,80.0,80.0,81.0,81.0,81.0,81.0,82.0
1,Robert,Chest,Chest_Repetitions,185,80,8.0,10.0,8.0,10.0,12.0,...,8.0,8.0,8.0,10.0,12.0,8.0,10.0,12.0,14.0,8.0
2,Robert,Shoulders,Shoulders_Weight,185,80,7.0,7.0,7.0,7.0,7.0,...,10.5,10.5,10.5,10.5,10.5,10.5,10.5,10.5,10.5,10.5
3,Robert,Shoulders,Shoulders_Repetitions,185,80,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,Robert,Legs,Legs_Weight,185,80,60.0,60.0,60.0,62.0,62.0,...,116.0,117.0,117.0,117.0,118.0,118.0,119.0,119.0,119.0,119.0

In [4]:
df_females.head()

,Name,Exercise,Metric,Height,Weight,0,1,2,3,4,...,90,91,92,93,94,95,96,97,98,99
0,Julia,Chest,Chest_Weight,160,52,21.0,21.5,22.0,22.5,22.5,...,47.5,48.5,48.5,48.5,49.0,49.5,49.5,49.5,50.0,50.5
1,Julia,Chest,Chest_Repetitions,160,52,8.0,8.0,8.0,8.0,10.0,...,8.0,8.0,10.0,12.0,8.0,8.0,10.0,12.0,8.0,8.0
2,Julia,Shoulders,Shoulders_Weight,160,52,4.0,4.0,4.0,4.0,4.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
3,Julia,Shoulders,Shoulders_Repetitions,160,52,8.0,9.0,10.0,11.0,12.0,...,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,15.0,15.0
4,Julia,Legs,Legs_Weight,160,52,30.5,30.5,31.0,31.5,31.5,...,66.5,67.0,68.0,68.5,69.0,69.0,69.5,69.5,70.0,70.5

In [5]:
df_males.describe()

,Height,Weight,0,1,2,3,4,5,6,7,...,90,91,92,93,94,95,96,97,98,99
count,32.000000,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,...,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,176.250000,71.750000,18.37500,19.031250,19.250000,19.750000,20.187500,20.390625,20.421875,20.953125,...,38.671875,38.953125,38.953125,39.093750,39.562500,39.921875,40.031250,39.968750,40.359375,40.500000
std,6.753733,11.878416,17.12525,17.001868,17.305602,17.454087,17.620438,17.946486,18.408058,18.242258,...,40.146026,40.430418,40.686718,41.028007,41.046541,41.199184,41.528447,41.851107,42.007533,42.227113
min,168.000000,55.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
25%,171.000000,64.000000,8.00000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.750000,...,9.000000,8.750000,9.000000,8.750000,9.750000,9.000000,9.000000,9.875000,9.875000,9.875000
50%,176.000000,73.500000,8.00000,10.000000,10.000000,11.000000,12.000000,12.500000,11.000000,11.000000,...,13.000000,13.000000,12.250000,11.500000,12.250000,13.250000,12.250000,12.250000,13.250000,13.250000
75%,181.250000,81.250000,20.25000,21.000000,21.250000,21.250000,22.000000,22.000000,22.250000,22.750000,...,68.750000,69.750000,69.750000,70.500000,70.750000,71.000000,71.000000,72.000000,72.250000,72.500000
max,185.000000,85.000000,62.00000,63.000000,64.000000,65.000000,65.000000,66.000000,68.000000,68.000000,...,134.000000,135.000000,135.000000,136.000000,137.000000,137.000000,137.000000,139.000000,139.000000,140.000000

In [6]:
df_m = df_males.drop(columns = ['Name'])
df_f = df_females.drop(columns = ['Name'])

In [7]:
m_chest = df_m[df_m['Exercise'] == 'Chest']
f_chest = df_f[df_f['Exercise'] == 'Chest']
m_shoulders = df_m[df_m['Exercise'] == 'Shoulders']
f_shoulders = df_f[df_f['Exercise'] == 'Shoulders']
m_legs = df_m[df_m['Exercise'] == 'Legs']
f_legs = df_f[df_f['Exercise'] == 'Legs']
m_back = df_m[df_m['Exercise'] == 'Back']
f_back = df_f[df_f['Exercise'] == 'Back']

In [8]:
m_chest = m_chest.drop(columns=['Exercise'])
f_chest = f_chest.drop(columns=['Exercise'])
m_shoulders = m_shoulders.drop(columns=['Exercise'])
f_shoulders = f_shoulders.drop(columns=['Exercise'])
m_legs = m_legs.drop(columns=['Exercise'])
f_legs = f_legs.drop(columns=['Exercise'])
m_back = m_back.drop(columns=['Exercise'])
f_back = f_back.drop(columns=['Exercise'])

In [9]:
dfs = [m_chest, f_chest, m_shoulders, f_shoulders, m_legs, f_legs, m_back, f_back]
for df in dfs:
    for row  in df['Metric']:
        words_metric = row.split('_')
    df['Metric'] = df['Metric'].map({f'{words_metric[0]}_Weight': 0, f'{words_metric[0]}_Repetitions': 1})

In [10]:
f_back

,Metric,Height,Weight,0,1,2,3,4,5,6,...,90,91,92,93,94,95,96,97,98,99
6,0,160,52,10.00,10.50,11.0,11.5,12.00,12.0,12.00,...,36.5,36.50,37.00,37.00,37.0,37.0,37.50,39.50,40.0,40.50
7,1,160,52,8.00,8.00,8.0,8.0,8.00,10.0,12.00,...,10.0,12.00,8.00,10.00,12.0,14.0,8.00,8.00,8.0,8.00
14,0,152,48,10.75,10.75,11.0,11.5,11.75,12.5,12.75,...,29.5,29.75,29.75,29.75,30.0,30.0,30.25,30.25,30.5,30.75
15,1,152,48,8.00,10.00,8.0,8.0,8.00,8.0,8.00,...,10.0,8.00,10.00,12.00,8.0,10.0,8.00,10.00,8.0,8.00
22,0,162,57,15.00,15.00,15.0,16.0,16.00,17.0,17.00,...,54.0,55.00,55.00,58.00,58.0,58.0,59.00,59.00,59.0,60.00
23,1,162,57,8.00,10.00,12.0,8.0,10.00,8.0,10.00,...,14.0,8.00,10.00,8.00,10.0,12.0,8.00,10.00,12.0,8.00
30,0,165,60,15.00,15.00,15.0,15.0,16.00,16.0,16.00,...,39.0,39.00,39.00,39.00,40.0,40.0,40.00,41.00,41.0,41.00
31,1,165,60,8.00,10.00,12.0,14.0,8.00,10.0,12.00,...,12.0,14.00,16.00,18.00,8.0,10.0,12.00,8.00,10.0,12.00